*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}   /*resetto il CSS*/

body{
   /* padding:0px 150px 30px 150px;*/
}

.container{ 
    width: 70%;
    height: 700px;
    margin: 10px auto;
}

header{
    height: 15%;
    background-color: violet;
}

#section-1{
    height:40%;
    background-color: rgb(145, 145, 5);
    margin-top:30px;
    margin-bottom:30px;
    background-image: url("img/banner.jpg");
    background-color: rgba(0, 0, 0, 0.7);
    padding-top:600px;
}

#section-2{
    height: 40%;
    background-color: rgb(37, 34, 224);
    margin-bottom: 10px;
}

#section-2-top{
    height:30%;
    background-color: cyan;
    margin-bottom:10px;
}

#section-2-bottom::after{ /*così da non far collassare il div che contiene le tre sotto sezioni*/
    height: 70%;
    content:" ";
    display:table;
    clear:both;
}

#left{
    width: 20%;
    height:28%;
    background-color: cyan;
    float:left;
    margin-bottom: 2%;
}

#center{
width:56%;
height: 28%;
background-color: cyan;
float:left;
margin-left:2%;
margin-right:2%;
margin-bottom:10px;
}

#right{
    width: 20%;
    height: 28%;
    background-color: cyan;
    float:left;
    margin-bottom:2%;
}

footer{
    height: 5%;
    background-color: rgb(98, 3, 98);
}
/******/
#logo{
    height: 100%;
}

li{
    list-style-type: none;
    display: inline-block;  /*non uso inline perchè magari poi vorrei metterci mano alle grandezze width ed height*/
    padding:5px;
}

a{
    text-decoration: none;
    color:grey;
}

#frase1{
    color:rgb(209, 206, 206);
    font-weight: 600;
}

#frase2{
    color:rgb(209, 206, 206);
}

#titolo-section-2-top{
    font-weight: 800;
    font-size: 35px;
}

#sottotitolo-section-2-top{
    color:rgb(209, 206, 206);
    font-weight: 100;
}

.immagini{
    width: 100%;
    
}

.testi{
    height:60% ;
}







