*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}   /*resetto il CSS*/

.clearfix::after{    /*così da non far collassare il div che contiene le tre sotto sezioni*/
    content: " ";
    clear: both;
    display:table;
}

.container{ 
    width: 70%;
    margin: 10px auto;
}
/*controllare
.debug .container{ 
    height:100%;
    border:2px dashed red;
}*/

header{
    /*background-color: violet;*/
    margin-bottom: 10px;
}

.debug .header{
    height: 60px;
}

#logo{
    height:50px;
    border-right:1px solid gainsboro;
    padding-right:5px;
}

.section-1{
    /*background-color: rgb(145, 145, 5);*/
    margin-bottom: 50px;
    background-image: url(img/banner.jpg);
    background-color: rgba(0,0,0,0.1);
    padding-top:500px;
    padding-left: 20px;
}

.debug .section-1{
    height: 570px;
}

.section-2{
    /*background-color: rgb(37, 34, 224);*/
    margin-bottom: 5px;
}

.debug .section-2{
    height: 570px;
}

.section-2-top{
   /* background-color: cyan;*/
    margin-bottom: 5px;
}

.debug .section-2-top{
    height: 50px;
}

.left-col{
    width: 20%;
    /*background-color: cyan;*/
    float:left;
    margin-bottom: 5px;
}

.debug .left-col{
    height: 500px;
}

.center-col{
width:56%;
/*background-color: cyan;*/
float:left;
margin-left:2%;
margin-right:2%;
margin-bottom: 5px;
}
.debug .center-col{
   height: 500px;
}

.right-col{
    width: 20%;
    /*background-color: cyan;*/
    float:left;
    margin-bottom: 5px;
}

.debug .right-col{
    height: 500px;
}

.footer{
    /*background-color: rgb(98, 3, 98);*/
    text-align: center;
}

.debug .footer{
    height: 20px;
    /*border:2px dashed green;*/
}

li{
    list-style-type: none;
    display:inline-block;   /*metto inline-block perchè magari più avanti vorrò dare delle dimensioni ai link*/
    text-decoration: none;
    padding:5px; 
}

a{
    text-decoration: none;  /*per togliere la sottolineatura dei link*/
    color:silver;
}

.scritta-grossa-section-1{
 font-size: 25px;
 color:silver;
}

.scritta-piccola-section-1{
    font-size:15px;
    color:silver;
}

.scritta-piccola-section-2-top{
    color:silver;
}

.immagine-sinistra{
    height: 150px;
    width:100%;
    background-image: url(img/img-1.jpg);
    background-size: cover;
    background-position: center;
}

.immagine-centrale{
    height: 150px;
    width:100%;
    background-image: url(img/banner-2.jpg);
    background-size: cover;
    background-position: center;
}

.immagine-destra{
    height: 150px;
    width:100%;
    background-image: url(img/img-3.jpg);
    background-size: cover;
    background-position: center;
}

h3{
    color:silver;
}

.testo-section-2-bottom-left{
    height:60%;
}

.testo-section-2-bottom-center{
    height:60%;
}

.testo-section-2-bottom-right{
    height: 60%;;
}

